.wrapper{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(85,91,234,1) 37%, rgba(103,89,221,1) 99%, rgba(252,70,107,1) 100%);
height: 100vh;width: 100%;
color:white;display: flex;font-size: 20px;font-weight: 700;

}
.container{height: 100vh;width: 100%;display: flex;justify-content: center;align-items: center;
flex-direction: column;
}
.item{color:black ; font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 23px 0;}
    .item:active{  box-shadow: none;
        transform: translate(3px, 3px);}