.wrapper{border-color: aquamarine;color: coral;text-align: center;
height: 100vh;
display: flex;
justify-content:space-around;
}
.back:hover{color: rgb(17, 16, 16);font-size: 20px;cursor: pointer;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}